PRODUCT_NAME = ASR4me
PRODUCT_BUNDLE_IDENTIFIER = com.asr4me.app
MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 1
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = Config/ASR4me-Info.plist
CODE_SIGN_ENTITLEMENTS = Config/ASR4me.entitlements
SWIFT_VERSION = 5.10
MACOSX_DEPLOYMENT_TARGET = 13.0
ENABLE_HARDENED_RUNTIME = YES

